* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Send Flowers', cursive;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: rgb(63,251,233);
  background: radial-gradient(circle, rgba(63,251,233,0.7847514005602241) 0%, rgba(70,242,252,0.8687850140056023) 100%);
}

.card_img {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 100%;
  margin-left: 6rem;
  margin-top: 10rem;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picktable {
  font-size: 3.5rem;
  margin-left: 6rem;
}

.picktable > h1 {
  color: white;
}

button {
  font-size: 5rem;
  background-color: orange;
  color: rgb(63,251,233);
}

.buttons {
  margin-left: 7.5rem;
  display: grid;
  grid-template-columns: 210px 210px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}